<%= render 'karaoke/player_status' %>

<br>

<h1 class="section-title">Singers</h1>

<%= render 'search_form' %>

<p>Browse names starting with</p>
<%= render 'atoz_form' %>

<br>

<%= render 'singers_list' %>
