<div id="playerStatusContainer">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Player Controls">
      <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/play" role="button">Play</a>
      <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/next" role="button">Next</a>
      <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/stop" role="button">Stop</a>
      <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/audio" role="button">Audio</a>
      <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/clear" role="button">Clear</a>
      <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/load" role="button">Load</a>
    </div>
  </div>

  <br>

  <div id="karaokePlayerStatus">
  <% if @player_status["position"] != -1 %>
    <h2 class="now-playing">
      Now Playing: 
      <% if !@playing["title"].nil? %>
        <%= @playing["title"]  %>
      <% else %>
        <%= @playing["label"]  %>
      <% end %>
    </h2>
    <% if !@playing["song"].nil? %>
    <p>Playing Audio: <%= @player_status["currentaudiostream"]["index"] %>, Karaoke Audio: <%= @playing["song"].audio_stream %></p>
    <% end%>
  <% else %>
    <h2 class="now-playing">Nothing is playing.</h2>
  <% end %>
  </div>
</div>