<h1 class="section-title">Sing</h1>

<%= render 'search_form' %>

<%= render 'player_status' %>
<br>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="Player Controls">
    <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/play" role="button">Play</a>
    <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/next" role="button">Next</a>
    <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/stop" role="button">Stop</a>
    <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/audio" role="button">Audio</a>
    <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/clear" role="button">Clear</a>
    <a class="btn btn-primary btn-sm player-control" data-remote="true" href="/karaoke/load" role="button">Load</a>
  </div>
</div>
<br>
<%= render 'playlist' %>