[Unit]
Description=Karaoke 420
After=remote-fs.target network-online.target
Wants = network-online.target

[Service]
User=tuan
Group=tuan
Type=simple
WorkingDirectory=/home/tuan/karaoke420
ExecStart=/bin/bash -lc 'rails server -b 0.0.0.0'

[Install]
WantedBy=multi-user.target
